
CSC3002/CS106BX-Reader_2.pdf
MAT3007/cvx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vscode/
/.idea/
/bin/
*.log

elf_bin
elf_bin.elf
map.map

# Zips
*.zip
*.7z
*.asv
Research/MichiGAN/
*.pro
